body {
  background-color: #cccccc;

}
#trunk {
  width: 550px;
  padding: 25px 0 0 30px;
}
#headline {
  /*position: absolute;*/
  margin-top: 100px;
  text-align: center;
  /*right: 5%;*/
  /*width: 35%;*/
  /*top: 25%;*/
}
/*Typeography for the headline*/
#heroText {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

#heroSubtext {
    font-family: 'Lato', sans-serif;
    color: rgb(51, 51, 51);
}
#heroDesc {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 55px;
  font-size: 24px;
}
.fadeFirst {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 1.5s;
    animation-delay: 0s;
}

.fadeSecond {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 1s;
    animation-delay: 1s;
}

/*Email input*/
.email {
    margin: 0 auto;
    width: 100%;
}

input[type="text"] {
    width: 260px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    -webkit-box-shadow: 1px 1px 3px 1px gray;
    -moz-box-shadow: 1px 1px 3px 1px gray;
    box-shadow: 1px 1px 3px 1px gray;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;

    color: #1a1a1a;
    opacity: 0.6;

    padding: 5px 10px;
    border: none;
    background: #fff;

    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
}

input[type="text"]:focus {
    outline: none;
    opacity: 1;

}

::-webkit-input-placeholder {
    color: #1a1a1a;
}
:-moz-placeholder {
   color: #1a1a1a;
   opacity:  1;
}
::-moz-placeholder {
   color: #1a1a1a;
   opacity:  1;
}
:-ms-input-placeholder {
   color: #1a1a1a;
}

input[type="text"]:focus::-webkit-input-placeholder {
    color: #1a1a1a;
}
input[type="text"]:focus:-moz-placeholder {
   color: #1a1a1a;
   opacity:  1;
}
input[type="text"]:focus::-moz-placeholder {
   color: #1a1a1a;
   opacity:  1;
}
input[type="text"]:focus:-ms-input-placeholder {
   color: #1a1a1a;
}

button[type="submit"] {
    margin-left: 5px;
    width: 110px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    -webkit-box-shadow: 1px 1px 3px 1px gray;
    -moz-box-shadow: 1px 1px 3px 1px gray;
    box-shadow: 1px 1px 3px 1px gray;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;

    color: #fff;

    padding: 5px 14px;
    border: none;
    background: #03A9F4;

    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

button[type="submit"]:focus {
    outline: none;
    background: #fff;
    color: #1a1a1a;
}
.clear-container {
  padding: 0 !important;
  width: auto !important;
  margin: 0 !important;
}
/*.message_area {
  color: white;

  border: none;
  font-family: 'Raleway', sans-serif;
}*/
#mid {
  text-align: center;
}
#bottom {
  margin-top: 30px;
}
#renderButton {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  border-radius: 0;

  color: rgba(255,255,255,0.6);
  background: #03A9F4;
}
.renderWarning {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 16px;

  color: #fff;
}

/*Media Queries*/
@media only screen and (max-width: 992px) {
  #top {
    text-align: center;
  }
  #headline {
    margin-top: 40px;
  }
  #trunk {
    padding: 0;
    width: 100%;
  }
  #logo {
    width: 49%;
  }
  #bottom {
    text-align: center;
    margin-top: 40px;
  }
  #heroDesc {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 768px) {
  #headline {
    margin-top: 25px;
  }
  input[type="email"] {
    padding: 7px;
  }
  input[type="submit"] {
    padding: 11px;
  }
}
@media only screen and (max-width: 400px) {
  button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  #heroDesc {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
